.jumbotronHistory{
  margin: 0;
  padding-top: 30px;
  background-color: white;
  text-align: center;
  padding-bottom: 0px;
}


.arrow {
    margin-top : 15px;
    margin-bottom : 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .historyContainer{
    padding-top : 50px;
    margin-bottom: 30px;
  }

  .card-text{
    text-align: center;
  }