<ng-container *ngFor="let block of chain">
    <div class="card block">

        <div class="card-header">
            <b>Index : {{block.index}}</b>
        </div>
        <div class="card-body">
            <p class="card-text"><b>Merkleroot :</b> {{block.merkleroot || "None"}}</p>
            <p class="card-text"><b>Previous hash :</b> {{block.previous_hash}}</p>
            <p class="card-text"><b>Proof :</b> {{block.proof}}</p>
            <p class="card-text"><b>Timestamp :</b> {{block.timestamp}}</p>
            <p class="card-text"><b>Transactions :</b></p>
            <div *ngIf="block.transactions.length==0">None</div>
            <div class = "transactionContainer" >
            <ng-container *ngFor="let transaction of block.transactions">
                    <p class="card-text"><b>BatchID :</b> {{transaction.batchID}}</p>
                    <p class="card-text"><b>Recipient :</b> {{transaction.recipient}}</p>
                    <p class="card-text"><b>Sender :</b> {{transaction.sender}}</p>
                    <p class="card-text"><b>Signature :</b> {{transaction.signature}}</p>
                    <p class="card-text"><b>Transaction_input : </b>{{transaction.transaction_input || "None"}}</p>
                    <hr>
                </ng-container>
            </div>
            </div>
        </div>

</ng-container>