<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand mx-auto brand" href="#"routerLink="/">
    <img src="../assets/medicine-removebg-preview.png" width="30" height="30" class="d-inline-block align-top" alt="">
     Tracemymed
  </a>
<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/wallet">Wallet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/transactions">Transactions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/blockchain">Blockchain</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/history">History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/administrator">Administrator</a>
        </li>
    </ul>
</div>

<div class="ml-auto order-0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
  </button>
</div>
<div class="navbar-collapse collapse w-100 order-3 dual-collapse2 right_side">
    <ul class="navbar-nav ml-auto ">
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/about">About</a>
        </li>

    </ul>
    
</div>
</nav>

<div class="container">
<router-outlet></router-outlet>
</div>