.jumbotronWallet{
    margin: 0;
    padding-top: 30px;
    background-color: white;
    text-align: center;
    padding-bottom: 0px;
}

.guide{
    margin-top: 50px;
}

.left{
    float: left;
}

.h2, .h3{
    text-align: left;
}

.space-below{
    margin-bottom: 20px;
}