<div class="jumbotron jumbotronWallet">
    <img src="../assets/medicine.png" width="70" height="70" class="left" alt=""/>
    <h1 class="display-4">Welcome to Tracemymed</h1>
    <p class="lead">The ultimate blockchain-based tracking solution.
    </p>
    <hr class="my-4">
</div>

<h2> <b>It's your first time here ?</b></h2>
Just follow the guide below !
<div class="guide">
<h3> Generate my credentials</h3>
Go to the "My Wallet" tab, and generate your keys by clicking on the "Generate my wallet" button. These will be used to identify you on the blockchain, copy them to a file and don't lose them! Finally, make sure to <b>never communicate your private key </b>, as it is used as a password.
<br><br>

<h3> User Guide</h3>
<ol>
<li> Go to the "My Wallet" tab, click on "Already have a wallet", and paste your keys in the boxes (you can skip this step if you've generated them just now). </li>
<li> Click "Transactions" tab, and enter the ID of the product you just delivered, along with the recipient's public key. You just have to click send, and your transaction will shortly be added to the blockchain . </li>
</ol>

<h2><b>For administrators</b></h2>
Simply select the administrator tab and click the button to log in, and you're good to go. You can now make transactions enter the blockchain in the "Transactions" tab.
<div class="space-below"></div>