.jumbotronWallet{
    margin: 0;
    padding-top: 30px;
    background-color: white;
    text-align: center;
    padding-bottom: 0px;
}

.jumbotronWallet input{
    position: relative;
    margin: 5px;
    margin-left: 10px;

}

.jumbotronWallet label{
    position: relative;
    margin: 5px;

}

.btnGenWallet{
    margin: 5px;
    padding: 10px;
}

.label{
    padding: 10px 0px 5px 0px;
}

.btnSave{
    margin: 20px;
    margin-left: 0;
    padding: 10px;
}